<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- <title>{{ main_title | default:'Без заголовка' }}</title> &lt;!&ndash; если main_title нет или принимает false, подставляется значение по умолчанию &ndash;&gt; -->

</head>
<body>
<p>{{ menu | join:' | ' }}</p> <!-- объединяет список в строку с указанием разделителя -->
<p>{{ menu | first }}</p> <!-- получить первый элемент итерируемого объекта(аналогично - last(последний элемент)) -->
<p>{{ float | add:'50' }}</p> <!-- с помощью фильтра add(работает с int) прибавим 50, получим int -->
<p>{{ float | divisibleby:'2' }}</p> <!-- проверяет целочисленность(работает с int) -->
<p>{{ lst | length }}</p> <!-- определить длину -->
<p>{{ set }}</p>
<p>{{ dict.key_1 }} {{ dict.key_2 }}</p>
<p>{{ obj.a }}</p>
<p>{{ url }}</p> <!-- фильтр slugify переводит строку в slug) -->
<h1>{{ title | capfirst }}</h1> <!-- преобразует первую букву в заглавную(аналогичные фильтры: upper, lower) -->
<h1>{{ title | cut:' ' }}</h1> <!-- удаляет из строки указанный символ(в данном случае пробел), если нужно удалить несколько символов - cut:' '|cut:'?' -->

<h1>{{ title }}</h1>

</body>
</html>